<% layout('layouts/boilerplate') -%>
<h1>Posts index!</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <% include ../partials/searchFilter %>
            <p>FILTER IN HERE</p>
        </div>
        <div class="col-8">
            <div id="map"></div>
        </div>
    </div>
</div>

<% include ../partials/paginatePosts %>

<% posts.docs.forEach(function(post) { %>
<div>
    <h1>
        <%=post.title %>
    </h1>
    <div>Price: <%=post.price %>
    </div>
    <div>
        <%=post.description %>
    </div>
    <div>
        <%=post.location %>
    </div>
    <div><a href="/posts/<%= post.id %>">View more</a></div>
</div>
<% }); %>

<% include ../partials/paginatePosts %>

<script>
    mapboxgl.accessToken = "<%= mapBoxToken %>";
    var location_auto = "<%= location %>";
    if(location_auto) {
        location_auto = location_auto.split(",");
    };
    var posts = { features: <%- JSON.stringify(posts.docs) %> };
</script>
<script src="/javascripts/allPostsClusterMap.js"></script>